@font-face {
    font-family: 'GillSansBold';
    src: url('../fonts/GillSansBold.eot');
    src: url('../fonts/GillSansBold.eot') format('embedded-opentype'), url('../fonts/GillSansBold.woff2') format('woff2'), url('../fonts/GillSansBold.woff') format('woff'), url('../fonts/GillSansBold.ttf') format('truetype'), url('../fonts/GillSansBold.svg#GillSansBold') format('svg');
}

@font-face {
    font-family: 'GillSansSemiBold';
    src: url('../fonts/GillSansSemiBold.eot');
    src: url('../fonts/GillSansSemiBold.eot') format('embedded-opentype'), url('../fonts/GillSansSemiBold.woff2') format('woff2'), url('../fonts/GillSansSemiBold.woff') format('woff'), url('../fonts/GillSansSemiBold.ttf') format('truetype'), url('../fonts/GillSansSemiBold.svg#GillSansSemiBold') format('svg');
}

@font-face {
    font-family: 'GillSans';
    src: url('../fonts/GillSans01.eot');
    src: url('../fonts/GillSans01.eot') format('embedded-opentype'), url('../fonts/GillSans01.woff2') format('woff2'), url('../fonts/GillSans01.woff') format('woff'), url('../fonts/GillSans01.ttf') format('truetype'), url('../fonts/GillSans01.svg#GillSans01') format('svg');
}

@font-face {
    font-family: 'Achtung_Polizei';
    src: url('../fonts/Achtung_Polizei.eot');
    src: url('../fonts/Achtung_Polizei.eot') format('embedded-opentype'), url('../fonts/Achtung_Polizei.woff2') format('woff2'), url('../fonts/Achtung_Polizei.woff') format('woff'), url('../fonts/Achtung_Polizei.ttf') format('truetype'), url('../fonts/Achtung_Polizei.svg#Achtung_Polizei') format('svg');
}

@font-face {
    font-family: 'achtung_polizeiregular';
    src: url('../fonts/achtung_polizei-webfont.woff2') format('woff2'), url('../fonts/achtung_polizei-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}

.txt-lt {
    text-align: left;
}

.txt-center {
    text-align: center;
}

.float-rt {
    float: right;
}

.float-lt {
    float: left;
}

.clear {
    clear: both;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.vertical-base {
    vertical-align: baseline;
}

.vertical-top {
    vertical-align: top;
}

nav.vertical ul li {
    display: block;
}

nav.horizontal ul li {
    display: inline-block;
}

img {
    max-width: 100%;
}

body {
    font-family: 'GillSans', sans-serif;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

.mainw3-agileinfo {
    width: 100%;
    max-width: 430px;
    margin: 3em auto;
}

.gradient-bg-2 {
    background: url(../img/new-bg-image.jpg) no-repeat;
    background-position: left center;
    width: 100%;
    background-size: cover;
    padding: 40px 0;
}

.thanku {
    text-align: center;
}

.thanku-image {
    padding-top: 125px;
    padding-bottom: 50px;
}

.thanku-mesg h3 {
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 5px 5px 0px #004826;
    padding-bottom: 30px;
    font-family: 'achtung_polizeiregular';
    letter-spacing: 2px;
    margin: 0;
}

.thanku-mesg p {
    font-size: 17px;
    color: #fff;
    font-family: 'GillSans', sans-serif;
    padding-bottom: 125px;
}

.scrol-down-btn {
    margin: 0px auto;
    display: block;
    padding: 15px 40px;
    font-size: 1em;
    color: #1e4497;
    text-transform: uppercase;
    background: #ffdd15;
    border-radius: 15px 15px 0px 0px;
    -webkit-box-shadow: 0px 5px 9px 0px #124e31;
    -moz-box-shadow: 0px 5px 9px 0px #124e31;
    -o-box-shadow: 0px 5px 9px 0px #124e31;
    -ms-box-shadow: 0px 5px 9px 0px #124e31;
    box-shadow: 15px 15px 0px 0px #124e31;
    border: 0;
    outline: 0;
    font-family: 'GillSansBold', sans-serif;
}

.registeration-form {
    background: #ffdd15;
    padding: 45px 50px;
    background-size: cover;
    -webkit-box-shadow: 0px 5px 9px 0px #124e31;
    -moz-box-shadow: 0px 5px 9px 0px #124e31;
    -o-box-shadow: 0px 5px 9px 0px #124e31;
    -ms-box-shadow: 0px 5px 9px 0px #124e31;
    box-shadow: 15px 15px 0px 0px #124e31;
    text-align: left;
}

.our-field {
    margin: 0 0 30px;
}

.our-field textarea.form-control {
    height: 125px;
    font-family: 'GillSansSemiBold';
    border: 0;
    border-radius: 0;
}

.registeration-form p {
    font-size: 16px;
    color: #1e4497;
    margin: 0.5em 0;
    font-family: 'GillSansBold', sans-serif;
}

.registeration-form input[type="text"],
.registeration-form input[type="email"],
.registeration-form input[type="password"] {
    font-family: 'GillSansSemiBold';
    outline: none;
    font-size: 1em;
    color: #000;
    padding: .7em;
    width: 100%;
    border: none;
    -webkit-appearance: none;
    display: block;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.registeration-form select {
    outline: none;
    font-size: 1em;
    color: #000;
    padding: .7em .6em;
    width: 28%;
    color: #1e4497;
    font-family: 'GillSansSemiBold';
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url(../img/select-arow.png) hsl(0, 0%, 100%);
    background-repeat: no-repeat;
    background-position: 90%;
    border: 0 !important;
}

.check {
    font-size: 0.9em;
    color: #1e4497;
    cursor: pointer;
    position: relative;
    margin: 0;
    font-weight: 600;
    display: inline-block;
    letter-spacing: 0;
}

input.checkbox {
    background-color: #ffdd15;/*background: #ffdd15;*/
    cursor: pointer;
    display: inline-block;
    vertical-align: baseline;
    margin-right: 7px;
    height: 15px;
    width: 15px;
}

.registeration-form input ~ .checkmark {
    background-color: #ffdd15;
}

.registeration-form .checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ffdd15;
    border: 1px solid #1e4497;
}

.registeration-form .checkmark:after {
    left: 5px;
    top: 1px;
    width: 7px;
    height: 13px;
    border: solid #1e4497;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.registeration-form input:checked ~ .checkmark:after {
    display: block;
}

.registeration-form input[type="submit"] {
    font-size: 16px;
    color: #fff;
    background: #1e4497;/*border: 1px solid #00BCD4;*/
    outline: none;
    cursor: pointer;
    padding: .7em 1em;
    margin: 0 0 0;
    -webkit-appearance: none;
    width: 50%;
    border: 0;
    outline: 0;
    font-family: 'GillSans', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
}

.checkbox-span {
    padding-left: 10px;
    font-family: 'GillSansBold', sans-serif;
    font-size: 14px;
}

.name-phone {
    display: none;
    transition: all .5s ease-in-out;
    transform-origin: left top;    /*transform: scaleY(0)*/
}

/*nishant css*/
.modal-bg {
    background: url(../img/new-bg-image.jpg) no-repeat;
    background-size: cover;
    background-color: transparent !important;
    background-position: top center;
}

.rating-section {
    display: flex;
    text-align: center;
    padding-top: 20px;
    justify-content: space-between;
    padding-bottom: 55px;
}

.rating-text {
    padding-bottom: 45px;
}

.rating-text p {
    color: #fff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.logo {
    text-align: center;
}

.rating-heading {
    padding-top: 50px;
}

.rating-heading h3 {
    text-align: center;
    font-size: 45px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 4px 4px 1px #004826;
    padding-bottom: 20px;
    font-family: 'achtung_polizeiregular';
    letter-spacing: 2px;
}

.rating-heading p {
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-family: 'GillSans', sans-serif;
}

.qr-code-inner {
    width: 30%;
}

.caption p {
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.footer {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding-top: 30px;
    line-height: 1;
    font-family: 'GillSans';
}

.copy-right {
    padding-top: 24px;
}

.footer .social-link a {
    color: #fff;
    font-size: 16px;
    line-height: 0;
    padding: 0px 3px 5px;
}

.footer .social-link a .fa,
.thanku-page .thank-footer .social-link a .fa {
    font-size: 20px;
}

.footer p {
    margin: 0;
    font-size: 14px;
    font-family: 'GillSans', sans-serif;
}

.error {
    font-family: 'GillSansSemiBold';
    font-size: 16px;
}

.thanku-page .thank-footer .copy-right p {
    font-size: 14px;
}

.our-field.centerdiv {
    text-align: center;
}

.social-link {
    text-align: right;
}

.social-link p {
    padding-top: 7px;
    font-family: 'GillSans';
}

/*thanku page css*/
.gradient-bg {
    background: url(../img/new-bg-image.jpg) no-repeat;
    background-size: cover;
    background-position: left center;
    height: 100vh;
    width: 100%;
    padding: 40px 0;
}

.logo {
    text-align: center;
}

.thanku-page .thanku-msg {
    width: auto;
    position: absolute;
    left: 0%;
    right: 0;
    text-align: center;
    height: 125px;
    margin: auto;
    top: 0;
    bottom: 0;
}

.thanku-page .thanku-msg h1 {
    color: #fff;
    font-size: 70px;
    text-transform: uppercase;
    text-shadow: 11px 5px 0px #004b27;
    letter-spacing: 8px;
    margin: 0;
    font-family: 'Achtung_Polizei';
}

.thanku-page .thank-footer {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    color: white;
}

.thanku-page .thank-footer .copy-right {
    padding-top: 26px;
    font-family: 'GillSansSemiBold';
}

.thanku-page .thank-footer .social-link {
    text-align: right;
}

.thanku-page .thank-footer .social-link a {
    color: #fff;
    font-size: 16px;
    line-height: 0;
    padding: 0px 3px;
}

.thanku-page .thank-footer .social-link p {
    margin: 0;
    font-size: 14px;
    font-family: 'GillSans';
}

#bus_nos {
    font-family: 'GillSans', sans-serif;
    font-size: 14px;
}

.rating-heading h3 br {
    display: none;
}

#ratingModal .modal-dialog {
    max-width: 750px;
    width: 100%;
    margin: auto;
}


@media(max-width:767px) {
    .thanku-page .thank-footer .copy-right {
        text-align: center;
    }

    .thanku-page .thank-footer .social-link {
        text-align: center;
    }

    .thanku-image {
        padding-top: 50px;
    }

    .thanku-mesg p {
        padding-bottom: 50px;
    }

    #ratingModal .modal-dialog {
        width: 95%;
        margin: auto;
    }

}

@media(max-width:640px) {
    .qr-code-inner:first-child a img {
        margin-left: -20px;
    }

    .qr-code-inner {
        width: 100%;
    }

    .qr-images {
        padding: 35px 10px 35px;
    }

    .rating-section {
        padding-bottom: 35px;
    }

    .gradient-bg-2 {
        background: url(../img/640-bg.jpg) no-repeat;
    }

    .scroll1 {
        overflow-y: scroll;
    }

}

@media(max-width:600px) {
    .registeration-form {
        padding: 20px;
    }

}

}

@media(max-width:528px) {
.mainw3-agileinfo {
    width: 100%;
    margin: 2em auto;
}

.registeration-form select {
    width: 100%;
    margin-bottom: 5px;
}

.registeration-form {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.thanku-mesg p {
    padding-bottom: 50px;
}

}

@media(max-width:500px) {
.thanku-mesg h3 {
    font-size: 29px;
}

}

@media(max-width:480px) {
.registeration-form select {
    width: 32%;
    margin-bottom: 5px;
}

.rating-heading h3 {
    font-size: 30px;
}

.rating-heading h3 br {
    display: block;
}

.rating-text p br {
    display: none;
}

.rating-text p {
    font-size: 11px;
}

.thanku-mesg p {
    font-size: 14px;
}

.registeration-form select {
    padding: .4em;
}

.checkbox-span {
    padding-left: 10px;
    font-size: 11px;
}

.copy-right {
    padding-top: 26px;
}

.thanku-mesg h3 {
    font-size: 26px;
}

.registeration-form p {
    font-size: 12px;
}

.footer p {
    font-size: 12px;
}

.footer .social-link a .fa,
.thanku-page .thank-footer 
.social-link a .fa {
    font-size: 17px;
}

.mainw3-agileinfo {
    padding-right: 1em;
}

.thanku-page .thanku-msg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thanku-page .thanku-msg h1 {
    font-size: 60px;
}

.thanku-page .thank-footer .copy-right p {
    font-size: 12px;
}

.thanku-page .thank-footer .social-link p {
    font-size: 12px;
}
.registeration-form input[type="submit"]{
    padding: .5em 1em;
    font-size: 14px;
}

}

@media(max-width:450px) {
.thanku-mesg h3 {
    font-size: 24px;
}

}

@media(max-width:419px) {
.thanku-page .thanku-msg h1 {
    font-size: 50px;
    letter-spacing: 6px;
}

.thanku-mesg h3 {
    font-size: 20px;
}

}
@media(max-width:400px) {
    .registeration-form select{
        padding: .5em;
        font-size: 12px;
    }
    .registeration-form input[type="text"], 
    .registeration-form input[type="email"], 
    .registeration-form input[type="password"] {
         padding: .5em;
         font-size: 12px;
    }
}
@media(max-width:375px) {
.rating-heading p br {
    display: none;
}

.thanku-mesg h3 {
    font-size: 19px;
}
.registeration-form select {
    padding: .6em .4em;
    font-size: 10px;
}
.registeration-form select {
    width: 31%;
}
.thanku-page .thank-footer .copy-right{
    padding-top: 20px;
}
.thanku-page .thank-footer .copy-right p {
    font-size: 10px;
}
.thanku-page .thank-footer .social-link p {
    font-size: 10px;
}
.footer .social-link a .fa, .thanku-page .thank-footer 
 .social-link a .fa {
    font-size: 14px;
}
.footer p {
    font-size: 10px;
}
.copy-right {
    padding-top: 20px;
}
}

@media(max-width:353px) {
.thanku-page .thanku-msg h1 {
    font-size: 45px;
}

.thanku-mesg h3 {
    font-size: 18px;
}

}

