@media only screen and (max-width: 1024px) {
    .gameTime{
        left: 4px;
    }
}
@media only screen and (max-width: 768px) {
    .sec-padding {
        padding: 30px 0;
    }
    .play-Quiz{
        padding: 20px 0;
    }
    .fnt-70{
        font-size: 34px;
    }
    .fnt-60 {
        font-size: 28px;
    }
    .leaderboard {
        padding: 10px 0;
    }   
    .leaderboard h3{
        font-size: 20px;
    }
    .leaderboard table th, .leaderboard table td{
        padding: 10px;
        font-size: 13px;
    }
    .shadow-bg-sec p{
        padding: 8px 0;
        margin: 0;
    }
    .score-heading, h5.score-info{
        font-size: 28px;
    }
    .social-share ul li{
        width: 40%;
        min-width: auto;
    }
    .quiz-query.text-center{
        clear: both;
    }
    .quiz-question{
        font-size: 25px;
    }
}
@media only screen and (max-width: 480px) {
    .social-share ul li{
        width: 80%;
        margin-bottom: 10px;
    }
    .answer ul li{
        width: 100%;
        margin: 8px 0;
    }
    .answer ul li span{
        max-width: 95%;
    }
    .submit button{
        margin: 10px 0;
        font-size: 20px;
    }
}